* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100%;
    width: 100%;
   background-color: white;
    color: #fff;
}
.head{
    background:#FF5200;
    width: 1264px;
    height: auto;
    padding-bottom: 20px;
    padding-top: 20px;
}
.header {
    display: flex;
    width: 1263px;
    justify-content: space-evenly;
    align-items: center;
     background:#FF5200;
    margin-left: -20px;
    padding-top: 20px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.swigy{
    height: 50px;
    width: 60;
    cursor: pointer;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    
}

.nav a {
    margin-left: 15px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.nav i{
    transform: rotate(310deg);
    font-size: 18px;
}

.btn-outline {
    padding: 15px 14px;
    border: 1px solid white;
    border-radius: 8px;
}

.btn-black {
    background: #000;
    color: white;
    padding: 17px 35px;
    border-radius: 15px;
}

.hero {
    display: flex;
    width: 1263px;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
     background:#FF5200;
}

.hero-text {
     margin-top: -120px;
     text-align: center;
}

.hero-text h1 {
    font-size: 45px;
    margin-bottom: 20px;
}

.search-area {
    display: flex;
    gap: 10px;
}
.pera-1-1{
      width: 280px;
      /* height: 60px; */
      text-align: center;
      background-color: white;
      padding: 10px 0px;
      border-radius: 15px;
      
}

.location{
    font-size: 22px;
    color: #FF5200;
}
.down{
    color: #000;
}

.input-1 {
    padding: 12px 5px;
    width: 200px;
    font-weight: 650;
    font-size: 14px;
    outline: none;
    border: none;
}
.pera-2-2{
      width: 450px;
      text-align: center;
      background-color: white;
      padding: 10px 0px;
      border-radius: 15px;
      
}
.input-2 {
    padding: 12px 0px;
    width: 380px;
    font-weight: 650;
    font-size: 15px;
    outline: none;
    border: none;
}
.glass{
    color: #555;
}

.hero-img {
    width: 20%;
    display: flex;
    justify-content: center;
    
}
.hero-img2{
    width: 20%;
 
}

.vegi{
    height: 450px;
    width: 250px;
}
.sushi{
    height: 450px;
    width: 250px;   
}

.cards {
    display: flex;
    gap: 20px;
    width: 100%;
    margin-top: -165px;
    flex-wrap: wrap;
    justify-content: center;
     background:#FF5200;
}

.card img{
 height: 310px;
 width: 320px;
 cursor: pointer;
 transition: transform 3s ease;
}
.card img:hover{
    transform: scale(0.9);
}


.offer {
    margin-top: 10px;
    color: #ff6a00;
    font-weight: bold;
}

.scrol{
    height: 15px;
    width: 85%;
    margin-top: -20px;
    background-color: #fff;
    
}
.slider{
    color: #000;
}
.slider h2{
    margin-top: 100px;
    margin-left: 120px;
}

.order{
    height: 414px;
    width: 1011px;
    background-color: #fff;
    color: #000;
    margin-top: 20px;
    margin-left: 10%;
    overflow: hidden;
    overflow-X: auto;
}
.order-1{
    width: 1500px;
    display: flex;
    gap: 20px;
}
.order-2{
    width: 1500px;
    display: flex;
    gap: 20px;
    
 
}
.order img{
    width: 154px;
    height: 190px;
    cursor: pointer;
}
.slider-2{
    color: black;
}
.shope{
    height: 270px;
    width: 1011px;
    margin-left: 10%;
    margin-top: 20px;
    overflow: hidden;
    overflow-X: auto;
}
.shope-0{
    /* width: 2000px; */
    display: flex;
    gap: 40px;
}
.slider-2 h2{
    margin-top: 100px;
    margin-left: 120px
}
.slider-2 img{
    height: 180px;
    width: 160px;
    cursor: pointer;
}
.slider-2 p{
    font-size: 20px;
    color: #555;
    text-align: center;
    font-weight: 600;
}
.shope-1{
    height: 240px;
    width: auto;
}
.slider-3 h2{
    margin-top: 100px;
margin-left: 120px;
color: #000;
}
.discover{
      height: 410px;
    width: 1011px;
    margin-left: 10%;
    margin-top: 20px;
    overflow: hidden;
    overflow-X: auto;
    display: flex;
    gap: 20px;
}
.dis{
display: flex;
    gap: 20px;
}
.book{
    width: 328px;
    height: 380px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid rgb(222, 218, 218);
}
.book-1{
    height: 50%;
    width: 100%;
}
.gyanji{
    width: 100%;
    margin-top: -30px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.gyanji i{
    background-color: #1BA672;
    color: white;
    font-size: 13px;
    height: 20px;
    width: 20px;
    padding: 5px 3px 0 3px ;
    border-radius: 50%;
}
.book-1 h3{
    color:white;
    
    
}
.book-2{
    height: 50%;
    width: 100%;
    color: #555;
}
.book-1 img{
    width: 100%;
    height: 100%;
     border-radius: 15px 15px 0 0;
     cursor: pointer;
}
.pera-1{
    width: 100%;
    display: flex;
    font-size: 13px;
    padding: 5px 7px;
    margin-top: 10px;
    justify-content: space-between;
}
.pera-2{
     width: 100%;
    display: flex;
    font-size: 13px;
    padding: 5px 7px;
    justify-content: space-between; 
}
.pera-3{
    background-color: #F0F0F5;
    width: 120px;
    font-size: 13px;
    padding: 5px 5px;
    border-radius: 20px;
    margin-left: 10px;
    margin-top: 5px
}
.pera-3 img{
    height: 15px;
    width: 15px;

}
.pera-4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:white;
    font-size: 13px;
    font-weight: 600;
    padding: 7px 5px;
    background-color:#1BA672 ;
    border-radius: 5px;
    margin: 5px 10px 0 10px;
}
.pera-4 img{
    height: 20px;
    width: 20px;
}
.pera-5{
    background-color: #C8F9E5;
    color: #5BC59D;
    margin: 5px 10px 0 10px;
    padding: 8px 5px ;
    border-radius: 5px;
}
.benner{
    width: 100%;
    height: 230px;
    margin-top: 100px;
    cursor: pointer;
}
.Cities{
    margin-top: 100px;
}
.Cities h2{
    margin-left: 150px;
    color: #000;
}
.food{
    width: 900px;
    height: 300px;
    margin-left: 13%;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10px;
}
.food-1{
    height:76px;
    width:200px;
    color:black;
    border:1px solid gray;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    border-radius: 12px;
    padding-top: 15px ;
    padding: 15px 10px 0 10px;
    cursor: pointer;
    
}
.food-1:hover{
    border: 1.3px solid rgb(254, 82, 20);
}
.food-2{
    height:76px;
    width:200px;
    color: #FF5200;
    border:1px solid gray;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    border-radius: 12px;
    padding-top: 15px ;
    padding: 22px 10px 0 10px;
    
}
.food-2:hover{
    border: 1.3px solid rgb(254, 82, 20);
    color: #000;
}
.grocery{
    margin-top: 80px;
}
footer{
    width: 100%;
    height: 753px;
    background-color: #F0F0F5;
    margin-top: 50px;
}
.ftr-img{
    height: 70px;
    width: 170px;
    margin-top: -15px;
}
.ftr{
    display: flex;
    padding: 50px 50px 0 50px;
    justify-content: space-evenly;
    
}
.ninja{
    font-size: 20px;
    font-weight: 600;
}
.ftr ul{
    list-style: none;
    line-height: 40px;
}
.ftr li {
    color: #000;
}
footer a{
    color: #555;
    text-decoration: none;
    font-size: 18px;
}
footer a:hover{
    cursor: pointer;
    border-bottom: 1px solid black;
}
.ninja-1{
    margin-top: 80px;
        font-size: 20px;
    font-weight: 600;
    
}
.ninja-3{
    margin-top: 80px;
        font-size: 20px;
    font-weight: 600;
}
.last{
    height: 150px;
    width: 80%;
    margin-left: 10%;
    border-top: 1px solid black;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.last p{
    color: #3D4046;
    font-size: 24px;
    font-weight: bolder;
}
.last img{
    height: 60px;
    width: 170px;
    transition: transform 2s ease;
}
.last img:hover{
    transform: scale(1.1);
    cursor: pointer;
}


@media (max-width: 415px) {

    body{
        overflow-x: hidden;
    }

    .head,.header, .hero {
        width: 100%;
        padding: 10px 0;
        margin: 0;
    }

    .header {
        justify-content: space-between;
        padding: 10px 15px;
    }

    .nav {
       font-size: 13px; 
       display: flex;
        justify-content: center;
    gap: 10px;
    margin-left: 10px;
    }
    .nav a{
        font-size: 12px;
        margin: 0;
    }
    .btn-outline{
        border: 2px solid green;
    }
    

    .swigy {
        height: 50px;
        width: 70px;
    }

    .hero{
        position: relative;
    }
    .hero-text {
        width: 100%;
        margin: 0;
        padding: 10px;
        position: absolute;
        
    }
   
    .sushi{
        margin-right: -60px;
    }

    .hero-text h1 {
        font-size: 22px;
    }

    .search-area {
        flex-direction: column;
        width: 100%;
        gap: 15px;
    }

    .pera-1-1, .pera-2-2 {
        width:90%;
        margin: auto;
    }

    .input-1, .input-2 {
        width: 90%;
    }

    .hero-img,  .hero-img2 {
        width: 50%;
    }

     .vegi, .sushi {
        height: 250px;
        width: 150px;
    }

    .cards {
        margin-top: 0;
        gap: 10px;
    }

    .card img {
        width: 90%;
        height: auto;
    }


    .slider h2,.slider-2 h2,.slider-3 h2,.Cities h2 {
        margin-left: 15px;
        font-size: 20px;
    }

    .order,.shope, .discover {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .order img,.slider-2 img {
        width: 120px;
        height: auto;
    }

    .book {
        width: 250px;
        height: 300px;
    }

    .food {
        width: 95%;
        height: auto;
        justify-content: center;
        margin-left: 10px;
        margin-top: 20px;
    }

    .food-1,.food-2 {
        width: 40%;
        font-size: 15px;
        padding-top: 10px;
    }

    footer {
        height: auto;
        padding-bottom: 40px;
    }

    .ftr {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        padding: 20px;
    }

    .last {
        flex-direction: column;
        height: auto;
        gap: 20px;
        padding: 20px 0;
        text-align: center;
    }

    .last img {
        width: 140px;
    }
}
